body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:213px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u3 {
  position:absolute;
  left:137px;
  top:0px;
  width:530px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:526px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:30px;
}
#u5 {
  position:absolute;
  left:667px;
  top:0px;
  width:333px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:329px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:148px;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:148px;
}
#u8 {
  position:absolute;
  left:2px;
  top:66px;
  width:133px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:148px;
}
#u9 {
  position:absolute;
  left:137px;
  top:30px;
  width:530px;
  height:148px;
  text-align:left;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:148px;
}
#u11 {
  position:absolute;
  left:667px;
  top:30px;
  width:333px;
  height:148px;
}
#u12 {
  position:absolute;
  left:2px;
  top:66px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:178px;
  width:137px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u15 {
  position:absolute;
  left:137px;
  top:178px;
  width:530px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:526px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:30px;
}
#u17 {
  position:absolute;
  left:667px;
  top:178px;
  width:333px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:329px;
  word-wrap:break-word;
}
