body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u946 {
  position:absolute;
  left:2px;
  top:460px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u947 {
  position:absolute;
  left:38px;
  top:285px;
  width:85px;
  height:16px;
  color:#409EFF;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1738px;
  height:1376px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:182px;
  top:52px;
  width:1738px;
  height:1376px;
}
#u950 {
  position:absolute;
  left:2px;
  top:680px;
  width:1734px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951 {
  position:absolute;
  left:202px;
  top:112px;
}
#u951_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u951_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u952 {
  position:absolute;
  left:202px;
  top:156px;
  width:886px;
  height:575px;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u954 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u955 {
  position:absolute;
  left:176px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u956 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u957 {
  position:absolute;
  left:352px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u959 {
  position:absolute;
  left:528px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u961 {
  position:absolute;
  left:704px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u963 {
  position:absolute;
  left:0px;
  top:30px;
  width:176px;
  height:90px;
}
#u964 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u965 {
  position:absolute;
  left:176px;
  top:30px;
  width:176px;
  height:90px;
}
#u966 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u967 {
  position:absolute;
  left:352px;
  top:30px;
  width:176px;
  height:90px;
}
#u968 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u969 {
  position:absolute;
  left:528px;
  top:30px;
  width:176px;
  height:90px;
}
#u970 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u971 {
  position:absolute;
  left:704px;
  top:30px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u972 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u973 {
  position:absolute;
  left:0px;
  top:120px;
  width:176px;
  height:90px;
}
#u974 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u975 {
  position:absolute;
  left:176px;
  top:120px;
  width:176px;
  height:90px;
}
#u976 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u977 {
  position:absolute;
  left:352px;
  top:120px;
  width:176px;
  height:90px;
}
#u978 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u979 {
  position:absolute;
  left:528px;
  top:120px;
  width:176px;
  height:90px;
}
#u980 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u981 {
  position:absolute;
  left:704px;
  top:120px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u982 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u983 {
  position:absolute;
  left:0px;
  top:210px;
  width:176px;
  height:90px;
}
#u984 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u985 {
  position:absolute;
  left:176px;
  top:210px;
  width:176px;
  height:90px;
}
#u986 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u987 {
  position:absolute;
  left:352px;
  top:210px;
  width:176px;
  height:90px;
}
#u988 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u989 {
  position:absolute;
  left:528px;
  top:210px;
  width:176px;
  height:90px;
}
#u990 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u991 {
  position:absolute;
  left:704px;
  top:210px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u992 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u993 {
  position:absolute;
  left:0px;
  top:300px;
  width:176px;
  height:90px;
}
#u994 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u995 {
  position:absolute;
  left:176px;
  top:300px;
  width:176px;
  height:90px;
}
#u996 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u997 {
  position:absolute;
  left:352px;
  top:300px;
  width:176px;
  height:90px;
}
#u998 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u999 {
  position:absolute;
  left:528px;
  top:300px;
  width:176px;
  height:90px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u1001 {
  position:absolute;
  left:704px;
  top:300px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u1002 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:390px;
  width:176px;
  height:90px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1005 {
  position:absolute;
  left:176px;
  top:390px;
  width:176px;
  height:90px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1007 {
  position:absolute;
  left:352px;
  top:390px;
  width:176px;
  height:90px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1009 {
  position:absolute;
  left:528px;
  top:390px;
  width:176px;
  height:90px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u1011 {
  position:absolute;
  left:704px;
  top:390px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u1012 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:480px;
  width:176px;
  height:90px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1015 {
  position:absolute;
  left:176px;
  top:480px;
  width:176px;
  height:90px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1017 {
  position:absolute;
  left:352px;
  top:480px;
  width:176px;
  height:90px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:90px;
}
#u1019 {
  position:absolute;
  left:528px;
  top:480px;
  width:176px;
  height:90px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:37px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:90px;
}
#u1021 {
  position:absolute;
  left:704px;
  top:480px;
  width:177px;
  height:90px;
  color:#409EFF;
}
#u1022 {
  position:absolute;
  left:2px;
  top:37px;
  width:173px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:1259px;
  top:112px;
  width:375px;
  height:667px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:1260px;
  top:112px;
  width:375px;
  height:24px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1027 {
  position:absolute;
  left:1260px;
  top:136px;
  width:375px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1028 {
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1030 {
  position:absolute;
  left:1525px;
  top:142px;
  width:100px;
  height:36px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u1032 {
  position:absolute;
  left:1575px;
  top:147px;
  width:1px;
  height:26px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1035 {
  position:absolute;
  left:1587px;
  top:151px;
  width:18px;
  height:18px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1037 {
  position:absolute;
  left:1593px;
  top:157px;
  width:6px;
  height:6px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1040 {
  position:absolute;
  left:1551px;
  top:156px;
  width:8px;
  height:8px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1042 {
  position:absolute;
  left:1561px;
  top:158px;
  width:4px;
  height:4px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1044 {
  position:absolute;
  left:1544px;
  top:158px;
  width:4px;
  height:4px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:171px;
}
#u1046 {
  position:absolute;
  left:1259px;
  top:184px;
  width:375px;
  height:170px;
  font-size:20px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:73px;
  width:371px;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#66CCFF;
}
#u1048 {
  position:absolute;
  left:1260px;
  top:354px;
  width:189px;
  height:255px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#66CCFF;
}
#u1049 {
  position:absolute;
  left:2px;
  top:46px;
  width:185px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1050 {
  position:absolute;
  left:1260px;
  top:354px;
  width:188px;
  height:85px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1051 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1052 {
  position:absolute;
  left:1260px;
  top:439px;
  width:188px;
  height:85px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1053 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1054 {
  position:absolute;
  left:1259px;
  top:523px;
  width:188px;
  height:85px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1055 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:1259px;
  top:609px;
  width:188px;
  height:85px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:34px;
  width:184px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:1447px;
  top:609px;
  width:188px;
  height:85px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:34px;
  width:184px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:1259px;
  top:694px;
  width:188px;
  height:85px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:34px;
  width:184px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:1446px;
  top:693px;
  width:188px;
  height:85px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:34px;
  width:184px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:1291px;
  top:378px;
  width:45px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:1291px;
  top:463px;
  width:45px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1068 {
  position:absolute;
  left:1291px;
  top:548px;
  width:45px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#66CCFF;
  text-align:right;
  line-height:36px;
}
#u1070 {
  position:absolute;
  left:1446px;
  top:354px;
  width:188px;
  height:255px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#66CCFF;
  text-align:right;
  line-height:36px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:38px;
  width:184px;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  line-height:48px;
}
#u1072 {
  position:absolute;
  left:1446px;
  top:354px;
  width:188px;
  height:255px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  line-height:48px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u1074 {
  position:absolute;
  left:769px;
  top:383px;
  width:100px;
  height:62px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u1076 {
  position:absolute;
  left:769px;
  top:470px;
  width:100px;
  height:62px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u1078 {
  position:absolute;
  left:769px;
  top:565px;
  width:100px;
  height:62px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u1080 {
  position:absolute;
  left:769px;
  top:650px;
  width:100px;
  height:62px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:88px;
}
#u1082 {
  position:absolute;
  left:786px;
  top:276px;
  width:65px;
  height:88px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:36px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:88px;
}
#u1084 {
  position:absolute;
  left:786px;
  top:188px;
  width:65px;
  height:88px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:36px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1086 {
  position:absolute;
  left:202px;
  top:114px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1088 {
  position:absolute;
  left:202px;
  top:797px;
  width:98px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:468px;
}
#u1090 {
  position:absolute;
  left:202px;
  top:833px;
  width:1314px;
  height:468px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:226px;
  width:1310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:698px;
  top:1348px;
  width:140px;
  height:40px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  position:absolute;
  left:883px;
  top:1348px;
  width:140px;
  height:40px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:309px;
  top:17px;
  width:85px;
  height:16px;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1098 {
  position:absolute;
  left:182px;
  top:52px;
  width:502px;
  height:40px;
}
#u1098_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:508px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:45px;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
}
#u1101 {
  position:absolute;
  left:20px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u1102 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1103 {
  position:absolute;
  left:20px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u1104 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1105 {
  position:absolute;
  left:20px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u1106 {
  position:absolute;
  left:378px;
  top:0px;
  width:124px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1107 {
  position:absolute;
  left:20px;
  top:12px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 231, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  position:absolute;
  left:202px;
  top:92px;
  width:1433px;
  height:2px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  position:absolute;
  left:202px;
  top:92px;
  width:86px;
  height:2px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:-7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
