body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:163px;
  top:20px;
  width:100px;
  height:60px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  position:absolute;
  left:418px;
  top:20px;
  width:100px;
  height:60px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:163px;
  top:174px;
  width:100px;
  height:60px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  position:absolute;
  left:40px;
  top:370px;
  width:100px;
  height:60px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:40px;
  top:496px;
  width:100px;
  height:60px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:295px;
  top:370px;
  width:100px;
  height:60px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  position:absolute;
  left:295px;
  top:496px;
  width:100px;
  height:60px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:441px;
  top:174px;
  width:100px;
  height:60px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:263px;
  top:50px;
  width:0px;
  height:0px;
}
#u1031_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u1031_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:28px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:213px;
  top:80px;
  width:0px;
  height:0px;
}
#u1033_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u1033_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u1034 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:90px;
  top:430px;
  width:0px;
  height:0px;
}
#u1035_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u1035_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u1036 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1037 {
  position:absolute;
  left:163px;
  top:295px;
  width:100px;
  height:60px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:213px;
  top:234px;
  width:0px;
  height:0px;
}
#u1039_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u1039_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:163px;
  top:325px;
  width:0px;
  height:0px;
}
#u1041_seg0 {
  position:absolute;
  left:-77px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1041_seg1 {
  position:absolute;
  left:-77px;
  top:-4px;
  width:8px;
  height:49px;
}
#u1041_seg2 {
  position:absolute;
  left:-83px;
  top:32px;
  width:20px;
  height:20px;
}
#u1042 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:263px;
  top:325px;
  width:0px;
  height:0px;
}
#u1043_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1043_seg1 {
  position:absolute;
  left:78px;
  top:-4px;
  width:8px;
  height:49px;
}
#u1043_seg2 {
  position:absolute;
  left:72px;
  top:32px;
  width:20px;
  height:20px;
}
#u1044 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1045 {
  position:absolute;
  left:345px;
  top:430px;
  width:0px;
  height:0px;
}
#u1045_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u1045_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u1046 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:263px;
  top:204px;
  width:0px;
  height:0px;
}
#u1047_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1047_seg1 {
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1048 {
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1049 {
  position:absolute;
  left:441px;
  top:267px;
  width:100px;
  height:60px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:491px;
  top:327px;
  width:0px;
  height:0px;
}
#u1051_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u1051_seg1 {
  position:absolute;
  left:-96px;
  top:69px;
  width:100px;
  height:8px;
}
#u1051_seg2 {
  position:absolute;
  left:-103px;
  top:63px;
  width:20px;
  height:20px;
}
#u1052 {
  position:absolute;
  left:-62px;
  top:65px;
  width:100px;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:491px;
  top:234px;
  width:0px;
  height:0px;
}
#u1053_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u1053_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u1054 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:63px;
}
#u1055 {
  position:absolute;
  left:543px;
  top:356px;
  width:116px;
  height:63px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:16px;
  width:112px;
  word-wrap:break-word;
}
#u1057 {
  position:absolute;
  left:541px;
  top:297px;
  width:0px;
  height:0px;
}
#u1057_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1057_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:63px;
}
#u1057_seg2 {
  position:absolute;
  left:50px;
  top:46px;
  width:20px;
  height:20px;
}
#u1058 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1059 {
  position:absolute;
  left:40px;
  top:400px;
  width:0px;
  height:0px;
}
#u1059_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1059_seg1 {
  position:absolute;
  left:-14px;
  top:-244px;
  width:8px;
  height:248px;
}
#u1059_seg2 {
  position:absolute;
  left:-14px;
  top:-244px;
  width:469px;
  height:8px;
}
#u1059_seg3 {
  position:absolute;
  left:447px;
  top:-244px;
  width:8px;
  height:18px;
}
#u1059_seg4 {
  position:absolute;
  left:441px;
  top:-239px;
  width:20px;
  height:20px;
}
#u1060 {
  position:absolute;
  left:52px;
  top:-248px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:163px;
  top:590px;
  width:100px;
  height:60px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:90px;
  top:556px;
  width:0px;
  height:0px;
}
#u1063_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u1063_seg1 {
  position:absolute;
  left:-4px;
  top:60px;
  width:77px;
  height:8px;
}
#u1063_seg2 {
  position:absolute;
  left:60px;
  top:54px;
  width:20px;
  height:20px;
}
#u1064 {
  position:absolute;
  left:-46px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:345px;
  top:556px;
  width:0px;
  height:0px;
}
#u1065_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u1065_seg1 {
  position:absolute;
  left:-136px;
  top:9px;
  width:140px;
  height:8px;
}
#u1065_seg2 {
  position:absolute;
  left:-136px;
  top:9px;
  width:8px;
  height:25px;
}
#u1065_seg3 {
  position:absolute;
  left:-142px;
  top:21px;
  width:20px;
  height:20px;
}
#u1066 {
  position:absolute;
  left:-120px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067 {
  position:absolute;
  left:518px;
  top:50px;
  width:0px;
  height:0px;
}
#u1067_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:192px;
  height:8px;
}
#u1067_seg1 {
  position:absolute;
  left:184px;
  top:-4px;
  width:8px;
  height:578px;
}
#u1067_seg2 {
  position:absolute;
  left:-255px;
  top:566px;
  width:447px;
  height:8px;
}
#u1067_seg3 {
  position:absolute;
  left:-262px;
  top:560px;
  width:20px;
  height:20px;
}
#u1068 {
  position:absolute;
  left:138px;
  top:404px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  position:absolute;
  left:541px;
  top:204px;
  width:0px;
  height:0px;
}
#u1069_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:133px;
  height:8px;
}
#u1069_seg1 {
  position:absolute;
  left:125px;
  top:-4px;
  width:8px;
  height:192px;
}
#u1069_seg2 {
  position:absolute;
  left:118px;
  top:180px;
  width:15px;
  height:8px;
}
#u1069_seg3 {
  position:absolute;
  left:111px;
  top:174px;
  width:20px;
  height:20px;
}
#u1070 {
  position:absolute;
  left:79px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:163px;
  top:50px;
  width:0px;
  height:0px;
}
#u1071_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:151px;
  height:8px;
}
#u1071_seg1 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:8px;
  height:358px;
}
#u1071_seg2 {
  position:absolute;
  left:-151px;
  top:346px;
  width:28px;
  height:8px;
}
#u1071_seg3 {
  position:absolute;
  left:-136px;
  top:340px;
  width:20px;
  height:20px;
}
#u1072 {
  position:absolute;
  left:-197px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
